#contact {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 30pt 0;
    color: #FFFFFF;
    background: black;

    div {
        
    }

    h2 {
        
        text-align: right;
        font-size: 30pt;
    }

    form {
        padding-top: 30pt;
        color: #FFFFFF;

        input {
            
            height: 28pt;
            margin-right: 15pt;
            color: #FFFFFF;
            text-align: center;
            background-color: #000000;
            border: none;
            border-bottom: thin solid #FFFFFF;
        }

    
    }
}