@use 'config';

#contact {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: 30pt 0;
    color: #FFFFFF;
    background: black;

    ::selection {
        color: #000;
        background-color: #FFF;
    }

    h2 {
        text-align: right;
        font-size: 30pt;
    }

    form {
        padding-top: 30pt;
        color: #FFFFFF;

        input[type="email"]  {
            height: 28pt;
            margin-right: 15pt;
            color: #FFFFFF;
            text-align: center;
            background-color: #000000;
            border: none;
            border-bottom: thin solid #FFFFFF;
            transition: config.$transition;

            &:focus-visible  {
                outline: none;
                box-shadow: 0 2pt 0 #FFF;
            }
        }

        button {
            transition: config.$transition;
            
            &:focus-visible  {
                outline: none;
                box-shadow: 0 2pt 0 #FFF;
            }
        }

    
    }
}


@media screen and (max-width: 959px) {
    #contact {

        h2 {
            font-size: 21pt;
        }

        form {
            padding-top: 12pt;
        }
        
    }
}

@media screen and (max-width: 575px) {
    #contact {
        position: relative;
        padding: 20pt 0;
        margin-top: 40pt;

        h2 {
            font-size: 15pt;
            text-align: center;
        }

        form {
            padding-top: 12pt;

            input[type="email"] {
                margin-bottom: 20pt;
            }
        }
        
    }
}