@use 'config';

body {
    height: 100vh;
    font-weight: 400;
}

::selection {
    color: #FFF;
    background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: 100;line-height: 1em;
}

.btn {
    font-size: 0.75em;
    text-transform: uppercase;
    color: #000;
    padding: 5pt 30pt;
    border-color: #000;
    border-radius: 0;

    &:hover {
        color: #000;
        background-color: #FFF;
        border-color: #FFF;
    }
}

.btn.white {
    color: #FFF;
    border-color: #FFF;

    &:hover {
        color: #000;
    }
}

header {
    text-align: center;
    padding: 20pt 0;
    margin-bottom: 30pt;

    border-bottom: config.$border;

    img {
        &:first-of-type {
            width: 100pt;
        }
    }
}

@media screen and (max-width: 575px) { 
    body {
        // overflow: hidden;
    }
}