@use 'config';

#hero {
    text-align: center;

    img {
        &:first-of-type {
            width: 25vh;
            margin: 30pt 0;
            transition: config.$transition
        }
    }

    div {
        &:first-of-type {

            h1 {
                padding-left: 50pt;
                padding-right: 50pt;
                color: #b7b7b7;
                font-size: 4.2em;
                text-align: right;
                letter-spacing: -0.05em;
            }

            p {
                color: #5b5b5b;
                font-size: 1.4em;
                font-weight: 400;
                line-height: 2em;
                text-align: left;
            }
        }
    }


}


@media screen and (max-width: 1024px) {
    #hero {
        div {
            &:first-of-type {
                h1 {
                    padding-left: 0;
                    padding-right: 20pt;
                    font-size: 4em;
                }

                p {
                    font-size: 1.2em;
                }
            }
            
        }
    }
}


@media screen and (max-width: 959px) {
    #hero {

        img {
            &:first-of-type {
                width: 40vw;
                height: auto;
                margin: 30pt 0 60pt;
            }
        }
        
        div {
            &:first-of-type {
            
                h1 {
                    padding-left: 100pt;
                    padding-right: 100pt;
                    text-align: center;
                }

                p {
                    padding-left: 50pt;
                    padding-right: 50pt;
                    text-align: center;
                }

            }
        }

    }
}

@media screen and (max-width: 575px) {
    #hero {
        
        img {
            &:first-of-type {
                width: 40vw;
                height: auto;
                margin: 5pt 0 25pt;
            }
        }

        div {
            &:first-of-type {

                h1 {
                    padding-left: 0;
                    padding-right: 0;
                    margin-bottom: 20pt;
                    font-size: 3em;
                    font-weight: 400;
                }

                p {
                    padding-left: 15pt;
                    padding-right: 15pt;
                    font-size: 1.1em;
                    line-height: 1.7em;
                }

            }
        }

    }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
    #hero {
        display: flex;
        text-align: left;

        img {
            &:first-of-type {
                width: 35vh;
                height: 35vh;
                margin: 0;
            }
        }

        div {
            &:first-of-type {
            
                h1 {
                    padding-left: 40pt;
                    padding-right: 0;
                    font-size: 2.5em;
                    text-align: left;
                }

                p {
                    padding-left: 40pt;
                    padding-right: 0;
                    font-size: 1.1em;
                    text-align: left;
                    line-height: 1.5em;


                }
            }
        }

    }

}